*.sim
*.cache
*.backup*
*.log
*.runs*
*.jou*
*.str
/cordic_pipeline/*.jou
/ip_repo/elipse_processor/edit_elipse_coprocessor_v1_0.ip_user_files/README.txt
/elipse_acc_test/elipse_acc_test.sdk/.metadata/.plugins/org.eclipse.core.resources/.history/

/logic_analyzer_sampler/project_1.hw/*.lpr
