*.sim
*.cache
*.backup*
*.log
*.runs*
*.jou*
*.str
/cordic_pipeline/*.jou
/ip_repo/elipse_processor/edit_elipse_coprocessor_v1_0.ip_user_files/README.txt
/elipse_acc_test/elipse_acc_test.sdk/.metadata/.plugins/org.eclipse.core.resources/.history/

/logic_analyzer_sampler/project_1.hw/*.lpr
/logic_analyzer__test_MB/logic_analyzer__test_MB.sdk/.metadata/
/logic_analyzer__test_MB/logic_analyzer__test_MB.sdk/webtalk
/logic_analyzer__test_MB/logic_analyzer__test_MB.sdk/mb_AXI_periph_test/Debug/src/*.o
/logic_analyzer__test_MB/logic_analyzer__test_MB.sdk/mb_AXI_periph_test_bsp/microblaze_0/libsrc/standalone_v7_0/src/*.o
